<h1><%= @instructor.teacher.joined_fields :first_name, :last_name %></h1>
<div class="teacher-fields">
	<p>
		From: <strong> <%= @instructor.country_of_origin %> </strong> <br>
		First Language: <strong><%= @instructor.first_language %> </strong> <br>

		Subject to teach: <strong><%= @instructor.subject_to_teach %></strong><br>
		
		Education level: <strong><%= @instructor.education %></strong><br>
		
		Time Zone: <strong><%= @instructor.teacher.city_time_zone %></strong> <br> <br>
		
		<%= "#{@instructor.price.format} #{@instructor.price.currency}" %>
		
	</p>
	<div class="about-teacher">
		<h3>About <%= @instructor.teacher.first_name.capitalize%>:</h3>
		<p><%= @instructor.about%></p>
	</div>
</div>

<h2>Availability</h2>

<h5><%= link_to 'Select Availability', new_instructor_timeslot_path(@instructor), id:'add_availability_link', remote: true %></h5>

<div id="timeslots">
	<% @instructor.timeslots.each do |timeslot| %>
		<%= render partial: 'timeslots/timeslot', locals: {timeslot: timeslot} %>

	<% end %>
</div>

<div class='teacher_calendar'>
</div>
<script>
	$('.teacher_calendar').fullCalendar({
		editable: true,
		header: {
			left: 'prev, next',
			center:'title',
			right: 'today,month,agendaWeek,agendaDay'
		},
		events: "/instructors/<%= @instructor.id %>/timeslots",
		defaultView: "agendaWeek",
		timezone: 'local',
		// timezoneParam: '<% @instructor.teacher.city_time_zone %>',
		displayEventEnd: {
        month: true,
        basicWeek: true,
        "default": true
    },
    theme: true,
    views: {
        month: { // name of view
            titleFormat: 'YYYY, MM, DD'
            // other view-specific options here
        }
      },
    eventDrop: function(event, delta, minuteDelta, allDay, revertFunc) {
        },

    // businessHours: {a

    // },
    // eventMouseover: function(event, jsEvent, view) {
    	
    // },
    eventClick: function(calEvent, jsEvent, view) {

        // change the border color just for fun
        if (confirm('Are you sure you want to book this timeslot?')) {
				  $(this).css('background-color', 'red');
				}
			}
		}); 
</script>




<!-- 
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
  </div>
</div>

<script id="modalTemplate" type="x-tmpl-mustache">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>

</script> -->