<div class="col-sm-10 col-sm-offset-1">
<br>
	<div class="row">
		<div id="teacher-name" class="col-sm-6 col-sm-offset-1">
			<h1><%= @instructor.teacher.joined_fields :first_name, :last_name %></h1>
		</div>
		<div class="avatar col-sm-5">
			<%= image_tag @instructor.avatar_url(:thumb), class: "img-circle" %>
		</div>
	</div>


	<br>
<!-- Teacher info via dl elements -->
	<div class="row">
		<div class="teacher-fields panel panel-info">
			<div class="panel-heading">
				<h3 class="panel-title"><%= @instructor.teacher.first_name.capitalize%>'s info</h3>
			</div>
			<div class="panel-body">
				<div class="col-sm-6">
					<dl class="dl-horizontal">
						<dt>From:</dt>
						<dd><%= @instructor.country_of_origin %></dd>
						<dt>First Language:</dt>
						<dd><%= @instructor.first_language.capitalize %></dd>
						<dt><%= @instructor.teacher.first_name.capitalize%> Teaches:</dt>
						<dd><%= @instructor.subject_to_teach %></dd>
						<dt>Education Level:</dt>
						<dd><%= @instructor.education %></dd>
						<dt>Time Zone:</dt>
						<dd><%= @instructor.teacher.city_time_zone %></dd>
						<dt>Price/Teaching Hour:</dt>
						<dd><%= "#{@instructor.price.format} #{@instructor.price.currency}"%></dd>
					</dl>
				</div>
				<div class="col-sm-6">
					<% if @instructor.document.blank? == false %>
						<%= link_to @instructor.document_url, class: 'btn btn-primary btn-xs' do %>
						<span class="glyphicon glyphicon-download-alt"></span> Download Resume
						<% end %>
						<% end %>

						<% if @instructor.document.blank? == true %>
						<strong> <%= "#{@instructor.teacher.first_name.capitalize}'s Resume:" %> </strong>
						<i><%= "#{@instructor.teacher.first_name.capitalize} hasn't yet uploaded a resume."%></i>
					<% end %>
				</div>
			</div>
		</div>
	</div>

<!-- Teacher info via table element -->
	<div class="row">
		<div class="teacher-fields panel panel-info">
			<div class="panel-heading">
				<h3 class="panel-title"><%= @instructor.teacher.first_name.capitalize%>'s info</h3>
			</div>
			<div class="panel-body">
				<table class="table table-striped">
		      <thead>
		        <tr>
			        <!-- <th>#</th> -->
		          <th><%= @instructor.teacher.first_name.capitalize%>'s Origin</th>
		          <th>First Language</th>
		          <th><%= @instructor.teacher.first_name.capitalize%> Teaches</th>
		          <th>Education Level</th>
		          <th>Time Zone</th>
		          <th>Price/Teaching Hour:</th>
		        </tr>
		      </thead>
		      <tbody>
			      <tr>
			        <td><%= @instructor.country_of_origin %></td>
			        <td><%= @instructor.first_language.capitalize %></td>
			        <td><%= @instructor.subject_to_teach %></td>
			        <td><%= @instructor.education %></td>
			        <td><%= @instructor.teacher.city_time_zone%></td>
			        <td><%="#{@instructor.price.format} #{@instructor.price.currency}"%></td>
			      </tr>
		      </tbody>
				</table>
				  <% if @instructor.document.blank? == false %>
									<%= link_to @instructor.document_url, class: 'btn btn-primary btn-xs' do %>
										<span class="glyphicon glyphicon-download-alt"></span> Download Resume
									<% end %>
								<% end %>

								<% if @instructor.document.blank? == true %>
					<strong><%="#{@instructor.teacher.first_name.capitalize}'s Resume:"%> </strong>
									<i><%= "#{@instructor.teacher.first_name.capitalize} hasn't yet uploaded a resume."%></i>
								<% end %>
			</div> <!-- panel body -->
		</div>
	</div>
				
	
	<div class="about-teacher row">
		<h3>About <%= @instructor.teacher.first_name.capitalize%>:</h3>
		<p><%= @instructor.about%></p>
	</div>
	
	<br>
	
	<% if @instructor.teacher == current_user %>
		<%= link_to edit_instructor_url(@instructor), class: 'btn btn-info btn-sm' do %>
		<i class="glyphicon glyphicon-plus"> </i> Edit your information
		<% end %>

		<%= link_to new_instructor_timeslot_path(@instructor), id:'add_availability_link', remote: true, class: 'btn btn-success btn-sm' do %>
		<i class="glyphicon glyphicon-plus"></i> Select your Availability <br>
		<% end %>
	<% end %>


	<!-- Need to ensure current user is not the rendered instructors profile!!!!! -->
	<!-- need to fix this page! the calendar border is over the teacher's profile!! -->
	<% if current_user != nil %>
		<div id="timeslots">
			<% @instructor.timeslots.each do |timeslot| %>
				<%= render partial: 'timeslots/timeslot', locals: {timeslot: timeslot} %>
			<% end %>
	<% else %> 
		<p><i> <%= link_to "Login", new_session_path %> to book a time with this teacher.</i></p>
		</div>
		<% end %>

	<div class='teacher_calendar'>
	<% timezone = current_user.city_time_zone if current_user.present? %>
	</div>

</div> <!-- col-sm-10 col-sm-offset-1  -->

<script>
	$('.teacher_calendar').fullCalendar({
    
    select: function( start, end, jsEvent, view ) {
      console.log(start, end);
    },

    selectable: true,
		
    header: {
			left: 'prev, next',
			center:'title',
			right: 'today,month,agendaWeek,agendaDay'
		},
		
    eventSources: [
      {
        url: '/instructors/<%= @instructor.id %>/timeslots',
        backgroundColor: '#6cf62c',
        textColor: '#DDF4FF',
        rendering: 'background',
        borderColor: 'black',
        className: 'instructor_availability'
      },
      
      {
        url: "/instructors/<%= @instructor.id %>/bookings",
        textColor: '#000E15',
        borderColor: 'black',
        backgroundColor: '#9DD6F2'
      }
    ],

		defaultView: "agendaWeek",
		timezone: "<%= timezone %>",
		// timezone: <= current_user.city_time_zone %>,
		displayEventEnd: {
        month: true,
        basicWeek: true,
        "default": true
    },

    theme: true,
    views: {
        month: { // name of view
            titleFormat: 'YYYY, MM, DD'
            // other view-specific options here
        }
      },

   //  eventClick: function(calEvent, jsEvent, view) {

   //      // change the border color just for fun
   //      if (confirm('Are you sure you want to book this timeslot?')) {
			// 	  $(this).css('background-color', 'red');
			// 	}
			// }
		}); 

</script>

	<!-- 
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	  </div>
	</div>

<div id="timeslots">
  < @instructor.timeslots.each do |timeslot| %>
    <= render partial: 'timeslots/timeslot', locals: {timeslot: timeslot} %>
  < end %>
</div>



<!-
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
  </div>
</div>
 -->

  <!-- <div id="modalTemplate">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Modal title</h4>
        </div>
        <div class="modal-body">
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>

  </div> -->