<!-- This partial is currently unused -->
<div id="booking_<%= booking.id %>">
  <p><%= booking.start_time %> to <%= booking.end_time %> with <%= booking.timeslot.instructor.teacher.name %> for <%= booking.timeslot.instructor.subject_to_teach %>. </p>
</div>   
<!-- It can also be styled this way and inserted into a table: -->
<!-- <tr>
  <th scope="row">""</th>
  <td><= booking.timeslot.instructor.teacher.name %></td>
  <td><= booking.timeslot.instructor.subject_to_teach %></td>
  <td><= booking.start_time %></td>
  <td><= booking.end_time %></td>
</tr> -->