<div id="booking_<%= booking.id %>">
  <p><%= booking.start_time %> to <%= booking.end_time %> with <%= booking.timeslot.instructor.teacher.name %> for <%= booking.timeslot.instructor.subject_to_teach %>. </p>
</div>   