<h1><%= @user.first_name.capitalize %>'s Page</h1>
<p>First Name: <%= @user.first_name.capitalize%></p>
<p>Last Name: <%=@user.last_name.capitalize %></p>
<p>Current Time Zone: <%=@user.city_time_zone %></p>
<p>Current Bookings:</p>


<% if @user == current_user %>
	<%= link_to "Edit" , edit_user_url(@user) %>
<% end %>