<h1>Teachers</h1>
	<form action="/teachings" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="✓">
  <p>
  <select name="subject_to_teach" id="subject_to_teach">
  <option value="" style="display:none">-- Search by Language: --</option>
  <option value="English">English</option>
<option value="Chinese">Chinese</option>
<option value="French">French</option>
<option value="German">German</option>
<option value="Spanish">Spanish</option>
<option value="Portugese">Portugese</option>
<option value="Japanese">Japanese</option></select>
    <input type="submit" value="Search">
  </p>
</form>

<%= form_tag teachings_path, :method => 'get' do %>
  <p>
  <%= select_tag(:subject_to_teach, options_for_select(["English", "Chinese", "French", "German", "Spanish", "Portugese", "Japanese"]), include_blank: true) %>

    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>

<% @teachings.each do |teaching| %>
	<div class="teacher">
		<h4>
			<%= link_to teaching.teacher.name, teaching_path(teaching) %>
		</h4>
		<p>
			From: <%= teaching.country_of_origin %> <br>
			Teaches: <%= teaching.subject_to_teach %> <br>
			Education level: <%= teaching.education %> <br>
			$<%= teaching.price %>
			<%= teaching.price_currency %>
		</p>
	</div>
<% end %>
