<h1>Teachers</h1>

<%= form_tag teachings_path, :method => 'get' do %>
  <p>


  <%= select_tag(:subject_to_teach, options_for_select(["English", "Chinese", "French", "German", "Spanish", "Portugese", "Japanese"]), include_blank: true) %>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>

<% @teachings.each do |teaching| %>
	<div class="teacher">
		<h4>
			<%= link_to teaching.teacher.name, teaching_path(teaching) %>
		</h4>
		<p>
			From: <%= teaching.country_of_origin %> <br>
			Teaches: <%= teaching.subject_to_teach %> <br>
			Education level: <%= teaching.education %> <br>
			$<%= teaching.price %>
			<%= teaching.price_currency %>
		</p>
	</div>
<% end %>
