<h1><%= @teaching.teacher.first_name%></h1>
<div class="teacher-fields">
	<p>Time Zone: <strong><%= @teaching.teacher.city_time_zone %></strong></p>
	<p>Subject to teach: <strong><%= @teaching.subject_to_teach %></strong></p>
	<p>Education level: <strong><%= @teaching.education %></strong></p>
</div>

<h2>Availability</h2>

<div id="timeslots">
	<% @teaching.timeslots.each do |timeslot| %>
		<%= render partial: 'timeslots/timeslot', locals: {timeslot: timeslot} %>
	<% end %>
</div>

<div class='teacher_calendar'>
</div>
<script> 
	$('.teacher_calendar').fullCalendar({
		events: "/teachings/<%= @teaching.id %>/timeslots",
		defaultView: "agendaWeek",
		displayEventEnd: {
        month: true,
        basicWeek: true,
        "default": true
    },
    theme: true,
    header: { center: 'month,agendaWeek'},
    views: {
        month: { // name of view
            titleFormat: 'YYYY, MM, DD'
            // other view-specific options here
        }
    }
    // dayClick: function(date, jsEvent, view) {

    //     // change the day's background color just for fun
    //     $(this).css('background-color', 'lightgreen');


    // }
	}); 
</script>


<h5><%= link_to 'Select Availability', new_teaching_timeslot_path(@teaching), id:'add_availability_link'%></h5>