<h1><%= @teaching.teacher.joined_fields :first_name, :last_name %></h1>
<div class="teacher-fields">
	<p>
		From: <strong> <%= @teaching.country_of_origin %> </strong> <br>
		First Language: <strong><%= @teaching.first_language %> </strong> <br>

		Subject to teach: <strong><%= @teaching.subject_to_teach %></strong><br>
		
		Education level: <strong><%= @teaching.education %></strong><br>
		
		Time Zone: <strong><%= @teaching.teacher.city_time_zone %></strong> <br> <br>
		
		<%= "#{@teaching.price.format} #{@teaching.price.currency}" %>
		
	</p>
	<div class="about-teacher">
		<h3>About <%= @teaching.teacher.first_name.capitalize%>:</h3>
		<p><%= @teaching.about%></p>
	</div>
</div>

<h2>Availability</h2>

<div id="timeslots">
	<% @teaching.timeslots.each do |timeslot| %>
		<%= render partial: 'timeslots/timeslot', locals: {timeslot: timeslot} %>
	<% end %>
</div>

<div class='teacher_calendar'>
</div>
<script> 
	$('.teacher_calendar').fullCalendar({
		events: "/teachings/<%= @teaching.id %>/timeslots",
		defaultView: "agendaWeek",
		displayEventEnd: {
        month: true,
        basicWeek: true,
        "default": true
    },
    theme: true,
    header: { center: 'month,agendaWeek'},
    views: {
        month: { // name of view
            titleFormat: 'YYYY, MM, DD'
            // other view-specific options here
        }
      },
     eventClick: function(calEvent, jsEvent, view) {

        // change the border color just for fun
        $(this).css('background-color', 'red');
    }
	}); 
</script>


<h5><%= link_to 'Select Availability', new_teaching_timeslot_path(@teaching), id:'add_availability_link'%></h5>