<%= form_for([@teaching, @timeslot]) do |f| %>

	<div class="field">
	  <%= f.label :start_time %>
	  <%= f.datetime_select :start_time %>
	</div>

	<div class="field">
	  <%= f.label :end_time %>
	  <%= f.datetime_select :end_time %>
	</div>	

	<div class="actions">
	  <%= f.submit %>
	</div>

<% end %>